.disable {
  display: none;
}

.side-bar-container {
  border: 1px solid grey;
  overflow: visible;
  height: 100%;
}

.side-bar-buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap:10px;
}

.side-bar-boards-display {
  width: 100%;
}

.side-bar-boards-header h3 {
  text-align: center;
}

.side-bar-board-lists {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  /* align-items: center; */
}

.side-bar-board-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.side-bar-board-item li {
  list-style: none;
}

.board-update-display {
  position: absolute;
  top: 100%;
  right: -20px;
  background-color: white;
  border: 1px solid #ccc;
  z-index: 10;
  padding: 8px;
}

.side-bar-board-item:hover .side-bar-board-action-ellipsis-button,
.side-bar-board-item.open .side-bar-board-action-ellipsis-button {
  opacity: 1;
}

.side-bar-board-action-ellipsis-button {
  opacity: 0;
  transition: opacity 0.2s;
  cursor: pointer;
}


.side-bar-board-actions {
  position: relative;
}

