.disable {
  display: none;
}

.side-bar-container {
  border: 1px solid #ccc;
  overflow: visible;
  height: 100%;
}

.side-bar-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:10px;
  border-bottom: 1px solid #ccc;
  padding: 1rem;
}

.side-bar-buttons button {
  border: none;
  width: 100%;
  height: 2rem;
  font-size: 15px;
}

.side-bar-buttons button:hover {
  background-color: #E9F2FF;
}


.side-bar-boards-display {
  padding: 1rem;
}

.side-bar-boards-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:5px;
  height: 0.9rem;
}

.side-bar-boards-header button {
  border: none;
}

.side-bar-boards-header h3 {
  text-align: center;
}

.side-bar-board-lists {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.side-bar-board-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
}

.side-bar-board-item li {
  list-style: none;
}

.board-update-display {
  position: absolute;
  top: 100%;
  right: -20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 4;
  padding: 2px;
}

.side-bar-board-item:hover .side-bar-board-action-ellipsis-button,
.side-bar-board-item.open .side-bar-board-action-ellipsis-button {
  opacity: 1;
}

.side-bar-board-action-ellipsis-button {
  opacity: 0;
  transition: opacity 0.2s;
  cursor: pointer;
}


.side-bar-board-actions {
  position: relative;
  right: 10px;
}

.side-bar-board-actions button {
  border: none;
}

.side-bar-board-name {
  cursor: pointer;
}

.side-bar-board-item:hover {
  background-color: #E9F2FF;
}


