.disable {
  display: none;
}

.side-bar-container {
  border: 1px solid grey;
  overflow: visible;
  height: 100%;
  margin-right: 3%;
  /* padding: 1rem; */
}

.side-bar-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:10px;
  border-bottom: 1px solid #ccc;
  padding: 1rem;
}

.side-bar-boards-display {
  padding: 1rem;
}

.side-bar-boards-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:5px;
}

.side-bar-boards-header button {
  border: none;
}

.side-bar-boards-header h3 {
  text-align: center;
}

.side-bar-board-lists {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  /* align-items: center; */
}

.side-bar-board-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
}

.side-bar-board-item li {
  list-style: none;
}

.board-update-display {
  position: absolute;
  top: 100%;
  right: -20px;
  background-color: white;
  border: 1px solid #ccc;
  z-index: 10;
  padding: 8px;
}

.side-bar-board-item:hover .side-bar-board-action-ellipsis-button,
.side-bar-board-item.open .side-bar-board-action-ellipsis-button {
  opacity: 1;
}

.side-bar-board-action-ellipsis-button {
  opacity: 0;
  transition: opacity 0.2s;
  cursor: pointer;
}


.side-bar-board-actions {
  position: relative;
}

.side-bar-board-name {
  cursor: pointer;
}

.side-bar-board-item:hover {
  background-color: #E9F2FF;
}

