.board-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.board-header {
  border: 1px solid #6C778E;
  border-left: none;
  border-right: none;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  cursor: pointer;
  background-color: #233556;
  gap: 1rem;
}

.board-header h2:hover {
  background-color: #838CA0;
}

.board-header h2{
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  font-size: 1.3rem;
  line-height: 1.2;
  padding: 3px;
  border-radius: 5px;
  font-weight: 200;
}

.board-detail-main-card {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  align-items: flex-start;
  height: 80vh;
  gap: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.board-detail-main-card::-webkit-scrollbar {
  display: none;
}

.board-name-input{
  font-size: 1.3rem;
  font-weight: 200;
  line-height: 1.2;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  padding: 3px;
  box-sizing: content-box;
  width: 10rem;
}

.board-detail-main-card > button {
  border: none;
  min-width: fit-content;
  height: 2rem;
  background-color: #65728A;
  color: white;
  border-radius: 10px;
}

.board-detail-main-card > button:hover {
  background-color: #6B7587;
}


#ai-tip-icon {
  color: white;
  font-size: 0.9rem;
  transition: transform 0.2s ease, color 0.2s ease;
}

#ai-tip-icon:hover {
  transform: rotate(90deg) scale(1.2);
  color: #FFD700;
}

.board-header button {
  background-color: transparent;
  margin-top: 5px;
  padding: 0;
}

#board-name-ai-tooltip {
  width: 6rem;
}


.deleted-gif {
  width: 20%;
}

.deleted-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}




