.board-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.board-header {
  border: 1px solid #6C778E;
  border-left: none;
  border-right: none;
  display: flex;
  align-items: center;
  margin-bottom: 3%;
  cursor: pointer;
  background-color: #233556;
  gap: 1rem;
}

.board-header h2:hover {
  background-color: #838CA0;
}

.board-header h2{
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 1%;
  font-size: 1.3rem;
  line-height: 1.2;
  padding: 3px;
  border-radius: 5px;
  font-weight: 200;
}

.board-detail-main-card {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  align-items: flex-start;
  height: 80vh;
  gap: 2%;
  margin-left: 1%;
}

.board-name-input{
  font-size: 1.3rem;
  font-weight: 200;
  line-height: 1.2;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 1%;
  padding: 3px;
  box-sizing: content-box;
  width: 5rem;
}

.board-detail-main-card > button {
  border: none;
  min-width: fit-content;
  height: 2rem;
  background-color: #65728A;
  color: white;
  border-radius: 10px;
}

.board-detail-main-card > button:hover {
  background-color: #6B7587;
}


#ai-tip-icon {
  color: white;
  font-size: 0.9rem;
}

.board-header button {
  background-color: transparent;
  margin-top: 4px;
  padding: 0;
}




