.card-section-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  cursor: pointer;
}

.card-section-container {
  width: 15em;
  max-width: 17em;
  border: none;
  border-radius: 10px;
  padding: 1%;
  background-color: #f1f2f4;
}

.card-section-container p {
  color: black;
}

.card-section-add-card {
  display: flex;
  align-items: center;
  gap: 3%;
  cursor: pointer;
  margin-bottom: 1%;
  padding: 2px;
  border-radius: 5px;
}

.card-section-add-card p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.card-section-add-card:hover {
  background-color: #E8E8E8;
}

.card-section-add-card-input {
  display: flex;
  flex-direction: column;
}

.card-section-card-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0.6px solid #ccc;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding-left: 4px;
  margin-bottom: 1rem;
  white-space: pre-wrap;
}

.card-section-card-row-dragging {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border:2px dotted #ccc;
  background-color: #f1f2f4;
  color: black;
  padding-left: 4px;
  margin-bottom: 1rem;
}

.card-section-card-row-dragging button {
  background-color: transparent;
}

.card-section-container button{
  border: none;
  background-color: transparent;
}

.card-section-title p {
  font-weight: 400;
  width: 100%;
  border-radius: 5px;
  padding: 1%;
}

.card-section-title p:hover {
  background-color: #E8E8E8;
}

.card-section-title input {
  font-weight: 400;
  padding: 1%;
  margin-top: 0px;
}

#card-section-add-card-button {
  border: 1px black solid;
  width: 40%;
}

.card-section-add-card-input {
  gap: 0.4rem;
}

.add-card-icon {
  color: black;
}

#card-section-card-name-err {
  color: red;
  font-size: 0.8rem;
  margin: 0;
}

.card-section-card-row-icons {
  display: flex;
  flex-direction: row;
}

.card-section-card-row p {
  white-space: pre-wrap;
  overflow-wrap: break-word;
  max-width: 150px;
  cursor: pointer;
}