.landing-page-container{
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

.landing-starred {
  height: 46%;
  border-bottom: 1px solid #ccc;
  padding: 1rem;
}

.landing-all-boards {
  height: 46%;
  padding: 1rem;
}

.landing-allboards-icon {
  margin-right: 0.7rem;
}


.landing-board-imgs {
  width: 200px;
  height: 120px;
  border-radius: 5px;
}

.landing-board p {
  position: relative;
  bottom: 140px;
  left: 5px;
  color: white;
}

.landing-boards-block {
  display: flex;
  justify-content: flex-start;
  gap:1rem;
}

.landing-board {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.landing-board:hover {
  transform: scale(1.02);
}
