/* TODO: Add sitewide styles */
* {
  font-family: "Baloo Paaji 2", sans-serif;
  /* font-optical-sizing: auto; */
  font-style: normal;
}

button {
  background-color: white;
  color: black;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}

html, body {
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  background: rgb(79, 93, 120);
  background: linear-gradient(142deg, rgba(79, 93, 120, 1) 20%, rgba(35, 53, 86, 1) 65%);
  color: white;
}


input {
  border-radius: 5px;
  border: none;
}

h2 {
  font-weight: 300;
}


