.profile-dropdown {
  position: absolute;
  right: 20px;
  top: 50px;
}

.nav-bar-container {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-left: 3%;
  margin-right: 3%;
}